<section class="Sponsorship section-{{ section.id }}" data-section-name="Sources">
  <div class="Sponsorship-wrapper">
    <h2 class="Sponsorship__title">Proud to be The Official Bar of:</h2>
    <div class="slider-custom-quotes Sponsorship-slider">
      {% for block in section.blocks %}
        <div class="Sponsorship-inner-wrap">
          <div class="Sponsorship-img-wrap">
            <img loading="lazy" src="{{ block.settings.source_image | image_url: width: 450 }}">
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="Sponsorship-pagination js-Sponsorship-pagination"></div>
  </div>
</section>

<style>
  .Sponsorship {
    background-color: white;
    overflow-x: hidden;
  }
  .Sponsorship-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 32px 0 64px 0;
  }

  .Sponsorship__title {
    text-align: center;
    font-size: 24px;
    line-height: 120%;
    padding: 16px 0;
    margin: 0;
    text-transform:uppercase;
  }
  
  .Sponsorship-slider {
    display: flex;
  }

  .Sponsorship-inner-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-left: 12px;
    margin-right: 12px;
  }

  .Sponsorship-inner-wrap:first-child {
    margin-left: 0;
  }
  
  .Sponsorship-inner-wrap:last-child {
    margin-right: 0;
  }

  .Sponsorship-img-wrap {
    width: 280px;
  }

  .Sponsorship-img-wrap img {
    width: 100%;
    max-height: 140px;
    object-fit: contain;
  }

 
  @media (min-width: 1280px) {

    .Sponsorship-slider {
      justify-content: space-around;
    }

    .Sponsorship-wrapper > h2 {
    font-size: 32px;
    line-height: 120%;
    padding: 32px 0 64px 0;
  }

    .Sponsorship-inner-wrap{
      flex-direction: row;
      position:relative;
      min-height: 100px;
    }
    .Sponsorship-img-wrap {
      padding-bottom: 0;
      border: none;
    }
  }
  .page-entry-offer .Sponsorship-wrapper {
    padding-top: 0;
  }

  @media (min-width: 1024px) {
    .Sponsorship-wrapper {
      
    }
  }

  .Sponsorship-pagination {
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-top: 16px;
  }

  @media screen and (min-width: 1260px) {
    .Sponsorship-pagination {
      display: none;
    }
}

  .Sponsorship-pagination-bullet {
    display: block;
    width: 9px;
    height: 9px;
    background-color: var(--oe-color-copy-light);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }
  
  .Sponsorship-pagination-bullet.is-active {
    background-color: var(--oe-color-yellow);
  }

</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const swiper = new Swiper('.section-{{ section.id }} .Sponsorship-wrapper', {
        slideClass: 'Sponsorship-inner-wrap',
        wrapperClass: 'Sponsorship-slider',
        slideActiveClass: 'is-active',
        slidesPerView: 'auto',
        centeredSlides: true,
        initialSlide: 0,
        loop: 0,
        pagination: {
          el: '.js-Sponsorship-pagination',
          bulletClass: 'Sponsorship-pagination-bullet',
          bulletActiveClass: 'is-active'
        },
        breakpoints: {
          1260: {
            slidesPerView: 4,
            centeredSlides: false,
          },
        }
      });
    
  })
  {% comment %} document.addEventListener('DOMContentLoaded', () => {
    $('.section-{{ section.id }} .slider-custom-quotes').slick({
      arrows: false,
      infinite: false,
      dots: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      mobileFirst: true,
      responsive: [
        {
          breakpoint: 1024,
          settings: { slidesToShow: 2, slidesToScroll: 2, dots: true }
        },
        {
          breakpoint: 1280,
          settings: { slidesToShow: 4, slidesToScroll: 4, dots: false }
        }
      ]
    })
  }) {% endcomment %}


</script>

{% schema %}
  {
    "name": "OE Sponsorship",
    "class": "home-page",
    "blocks": [
      {
        "name": "OE Sponsorship",
        "type": "source",
        "settings": [
          {
            "type": "image_picker",
            "id": "source_image",
            "label": "Source Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "OE Sponsorship",
        "category": "Layout"
      }
    ]
  }
{% endschema %}
