{%- style -%}
  .oe-talk-to-us-background--red {
    background-color: var(--oe-color-red);
  }

  .oe-talk-to-us-background--white {
    background-color: var(--oe-color-white);
  }

  .oe-talk-to-us-background--black {
    background-color: var(--oe-color-black);
  }

  .oe-talk-to-us {
    padding: 40px 0 40px;
    position: relative;
  }

  .oe-talk-to-us__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .oe-talk-to-us__media-wrapper {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  .oe-talk-to-us__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .oe-talk-to-us__content .button {
    width: 100%;
  }

  .oe-talk-to-us__content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    border-radius: 16px;
    padding: 40px 24px;
    background-color: var(--oe-color-white);
    text-align: center;
  }

  .oe-talk-to-us__heading {
    margin: 0 0 12px;
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: var(--oe-color-cocoa);
    text-transform: uppercase;
  }
  
  .oe-talk-to-us__text {
    font-size: 14px;
    line-height: 160%;
    color: var(--oe-color-cocoa);
    margin: 0 0 24px;
  }

  @media screen and (min-width: 990px) {
    .oe-talk-to-us {
      padding: 164px 0;
    }

    .oe-talk-to-us__container {
      flex-direction: row;
      align-items: center;
    }

    .oe-talk-to-us__content {
      order: 1;
      width: 500px;
      padding: 64px 64px;
    }

    .oe-talk-to-us__media-wrapper {
      width: 100%;
    }
    
    .oe-talk-to-us__heading {
      font-size: 44px;
    }
    
    .oe-talk-to-us__text {
      font-size: 18px;
    }
  }
{%- endstyle -%}

<div class="oe-talk-to-us oe-talk-to-us-background--{{ section.settings.background_color_scheme }}">
  {%- if section.settings.image != blank -%}
    <div class="oe-talk-to-us__media-wrapper">
      {{ section.settings.image | image_url: width: 1600 | image_tag:
        loading: 'lazy',
        width: 1600,
        height: 648,
        class: "oe-talk-to-us__media",
        alt: section.settings.image.alt | escape
      }}
    </div>
  {%- endif -%}
  <div class="oe-talk-to-us__container container">
    <div class="oe-talk-to-us__content">
      <h2 class="oe-talk-to-us__heading">{{ section.settings.heading | escape }}</h2>
      <p class="oe-talk-to-us__text">{{ section.settings.text | escape }}</p>
      {% render 'button', href: section.settings.link , variation: 'primary', color: 'black' , size: 'big', label: 'Contact us' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "OE Talk to us",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Talk to Us",
      "label": "Headline"
    },
    {
      "type": "text",
      "id": "text",
      "default": "We’d love to hear from you!",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "background_color_scheme",
      "options": [
        {
          "value": "red",
          "label": "Red"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "white",
          "label": "White"
        }
      ],
      "default": "black",
      "label": "Background color"
    }
  ],
  "presets": [
    {
      "name": "OE Talk to us"
    }
  ]
}
{% endschema %}
