.oe-card-search-product {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 8.1516px 14.1767px 0px rgba(0, 0, 0, 0.06), 0px 16.79076px 29.20132px 0px rgba(0, 0, 0, 0.08), 0px 46px 80px 0px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  text-decoration: none;
  padding: 24px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.oe-card-search-product--height-auto {
  height: auto;
}

.oe-card-search-product__content {
  padding: 24px 0px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.oe-card-search-product__image-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: var(--oe-color-oat);
  border-radius: 4px;
}

.oe-card-search-product__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.oe-card-search-product__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--oe-color-copy);
  margin: 0 0 24px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.oe-card-search-product__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: var(--oe-color-cocoa);
  margin: 0 0 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.oe-card-search-product__button {
  width: 100%;
  margin-top: auto;
}

.oe-card-search-product--small .oe-card-search-product__content {
  padding: 12px 8px 16px;
}

.oe-card-search-product--small .oe-card-search-product__image-wrapper {
  padding-top: 90%;
}

.oe-card-search-product--small .oe-card-search-product__text {
  font-size: 12px;
  line-height: 120%;
}

.oe-card-search-product--small .oe-card-search-product__title {
  font-size: 16px;
  line-height: 160%;
}

.oe-card-search-product--small .oe-card-search-product__button {
  padding: 14px 0;
  font-size: 32px;
  line-height: 1;
}

@media screen and (min-width: 750px) {
  .oe-card-search-product button{
    transition: transform 0.2s ease-in-out;
  }
  
  .oe-card-search-product:hover button {
    transform: translateY(-8px);
  }

  .oe-card-search-product__image-wrapper {
    width: 100%;
    position: relative;
    padding-top: 100%
  }

  .oe-card-search-product__content {
    padding: 16px 0px 0px;
  }

  .oe-card-search-product__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin: 0 0 40px;
  }

  .oe-card-search-product__title {
    font-weight: 800;
    font-size: 22px;
    line-height: 120%;
    margin: 0 0 16px;
    text-transform: uppercase;
  }
}
