.header-drawer {
}

@media screen and (min-width: 990px) {
  .header-drawer {
    display: none;
  }
}

.header__menu-drawer {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 115px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: var(--oe-color-white);
  overflow-y: auto;
  z-index: 999;
}

.header-drawer.is-open .header__menu-drawer {
  opacity: 1;
  pointer-events: unset;
  transform: translate3d(0, 0, 0);
}

.header__icon--menu {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

.header__icon--menu .icon-close {
  display: none;
}

.header-drawer.is-open .header__icon--menu .icon-hamburger {
  display: none;
}

.header-drawer.is-open .header__icon--menu .icon-close {
  display: block;
  transform: scale(0.7);
}

.header__menu-drawer-utility-links {
  display: flex;
  height: 80px;
  background-color: var(--oe-color-red);
}
.header__menu-drawer-utility-links > * {
  flex: 1;
  align-self: center;
  height: 100%;
  min-width:  33%;
}

.header__menu-drawer-utility-links .header__search details,
.header__menu-drawer-utility-links .header__search .header__icon {
  height: 100%;
}

.header__menu-drawer-utility-links > *:not(:last-child) {
  border-right: 1px solid var(--oe-color-white);
}

.header__menu-drawer-utility-links .header__icon-text {
  color: var(--oe-color-white);
}

.header__menu-drawer-utility-links .header__icon {
  padding: 0;
}

.header__menu-drawer-utility-links .header__icon svg {
  max-width: 24px;
  max-height: 24px;
}

.header__menu-drawer-utility-links .header__icon svg,
.header__menu-drawer-utility-links .header__icon svg path {
  fill: var(--oe-color-white);
}

.header__menu-drawer-menu.list-menu {
  padding: 24px 16px;
}

.header__menu-drawer-menu .header__menu-item {
  border-top: 1px solid var(--oe-color-black);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  color: var(--oe-color-black);
}

.header__menu-drawer-menu .header__menu-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.header__menu-drawer-menu details .header__menu-item > svg {
  transition: transform 0.2s ease-in-out;
}

.header__menu-drawer-menu details[open] .header__menu-item > svg {
  transform: rotate(-45deg);
}

.header__menu-drawer-menu .header__submenu {
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.header__menu-drawer-menu .header__submenu li {
  width: 100%;
}

.header__menu-drawer-menu .header__submenu .header__submenu-link {
  width: 100%;
  background-color: var(--oe-color-grey-100);
  border-radius: 5px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__menu-drawer-menu .header__submenu .header__submenu-link-title {
  font-size: 16px;
  line-height: 160%;
  color: var(--oe-color-copy-light);
  padding: 24px;
}

.header__menu-drawer-menu .header__submenu .header__submenu-link-image-wrapper {
  padding: 0;
  width: 120px;
  height: 100%;
  margin: 0;
  border-radius: 0 5px 5px 0;
}
