.rating {
  display: inline-block;
  margin: 0;
  line-height: 1;
}

.oe-product .rating-star {
  --letter-spacing: 0.2;
  --font-size: 2.2;
}

.oe-bundle-picker__product-rating-wrap .rating-count .caption {
  color: var(--oe-color-black);
}

.oe-bundle-picker__product-rating-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.oe-bundle-picker__product-rating-wrap .rating-star {
  --letter-spacing: 0.2;
  --font-size: 1.4;
}

.oe-bundle-picker__product-rating-wrap .rating-star::before {
  --color-main-star-color: var(--oe-color-black);
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: system-ui;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-main-star-color, var(--oe-color-red)) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
  line-height: 1;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
