.main-contact__contacts {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 0 40px;
}

.main-contact__title {
  text-align: center;
}

.main-contact__content a {
  color: var(--oe-color-red);
}

.main-contact__contacts-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--oe-color-black);
  margin: 0 0 16px;
}

.main-contact__contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid var(--oe-color-black);
  color: var(--oe-color-black);
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 24px;
  margin-bottom: 24px;
}

.main-contact__contacts-link svg {
  width: 15px;
  height: 9px;
}

@media screen and (min-width: 750px) {
  .main-contact__contacts {
    
    padding: 64px 0 100px;
  }

  .main-contact__contacts-title {
    font-size: 20px;
    line-height: 130%;
    margin: 0 0 16px;
  }

  .main-contact__contacts-link {
    font-size: 18px;
    line-height: 160%;
    padding: 8px 40px;
    gap: 32px;
    margin-bottom: 48px;
  }

  .main-contact__contacts-link svg {
    width: 24px;
    height: 16px;
  }
}
