.oe-contact-form {
  max-width: 1060px;
  margin: 0 auto;
}

.oe-contact-form__section {
  background-color: var(--oe-contact-form-section-background-color, --oe-color-teal);
  padding: 32px 25px;
}

.oe-contact-form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: var(--oe-contact-form-section-content-align, left);
}

.oe-contact-form__title {
  color: var(--oe-color-white);
  margin: 0 0 24px;
}

.contact__button {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.contact__button button {
  font-weight: 700;
  font-size: 36px;
  line-height: 160%;
  display: block;
}

.oe-contact-form .field {
  margin-bottom: 12px;
}

.main-contact__contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid currentColor;
  color: var(--oe-color-black);
  display: flex;
  gap: 12px;
  align-items: center;
  border-radius: 16px;
  margin-bottom: 24px;
}

.main-contact__contacts-link svg {
  width: 15px;
  height: 9px;
  transform: translateY(-2px);
}

.oe-contact-form__line {
  margin: 0 0 16px 0;
  width: 40px;
  border-color: var(--oe-color-copy-white);
}

.oe-contact-form__title,
.oe-contact-form__text,
.main-contact__contacts-link {
  color: var(--oe-color-white);
}

.oe-contact-form__title,
.oe-contact-form__text {
  margin-top: 0;
  text-transform: uppercase;
}

@media screen and (min-width: 750px) {
  .oe-contact-form__section {
    padding: 80px 25px;
  }

  .oe-contact-form__title {
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 40px;
  }

  .oe-contact-form {
    background: #FFFFFF;
    box-shadow: 56px 34px 26px rgba(0, 0, 0, 0.01), 32px 19px 22px rgba(0, 0, 0, 0.05), 14px 8px 16px rgba(0, 0, 0, 0.09), 4px 2px 9px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 48px 25px;
  }

  .oe-contact-form .field__input {
    background: var(--oe-color-grey-200);
    border-radius: 10px;
    height: 74px;
  }
  
  .oe-contact-form form {
    max-width: 700px;
    margin: 0 auto;
  }

  .oe-contact-form__title {
    color: var(--oe-color-cocoa);
  }

  .main-contact__contacts-link {
    font-size: 18px;
    line-height: 160%;
    padding: 10px 40px 6px 40px;
    gap: 32px;
    margin-bottom: 48px;
  }

  .main-contact__contacts-link svg {
    width: 24px;
    height: 16px;
  }

  .oe-contact-form__line {
    margin: 0 0 24px 0;
    width: 80px;
    border-color: var(--oe-color-copy-light);
  }

  .main-contact__contacts-link {
    margin-top: 24px;
  }

  .oe-contact-form__title,
  .oe-contact-form__text,
  .main-contact__contacts-link {
    color: var(--oe-color-cocoa);
  }
}
